* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Mongolian", sans-serif;
  scroll-behavior: smooth;
}

.container {
  background: url("../images/background.png");
  background-size: cover;
  width: 100%;
  color: #fff;
}
::selection {
  background-color: #00d4ff;
  color: white;
}
.nav-item {
  display: flex;
  justify-content: space-between;
}
.logo {
  margin: 2vw;
  font-weight: 700;
}
.logo p {
  margin: 2vw;
  font-size: 2vw;
}
.logo p:hover {
  color: #00d4ff;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar ul {
  display: flex;
  margin: 2vw;
}
.navbar ul li {
  list-style: none;
  margin: 2vw;
}
.navbar ul li a {
  color: #fff;
  text-decoration: none;
}
.navbar ul li a:hover {
  color: #00d4ff;
}

/* HERO SECTION  */
.hero-section {
  display: flex;
}

.left-section {
  width: 50%;
  float: left;
  margin: 4vw;
}
.left-section h1 {
  font-size: 4vw;
  /* color: transparent;
  -webkit-text-stroke: 1px #00d4ff; */
}
.left-section h6 {
  font-size: 2vw;
  color: #00d4ff;
}
.left-section p {
  line-height: 2vw;
  margin-top: 2vw;
}
.btns {
  display: flex;
  gap: 2vw;
  margin-top: 2vw;
  font-size: 1.2vw;
}
.btn1 {
  width: 20%;
  height: 3vw;
  border: none;
  border-radius: 5px;
  background-color: #00d4ff;
  color: #000;
  font-weight: 700;
  transition: all 0.8s, color 0.3s 0.3s;
}

.btn1:hover {
  box-shadow: 13vw 0 0 0 #000 inset;
  color: #00d4ff;
  border: 2px solid #00d4ff;
}

.btn2 {
  width: 20%;
  height: 3vw;
  border: 2px solid #00d4ff;
  border-radius: 5px;
  background-color: transparent;
  color: #00d4ff;
  font-weight: 700;
  transition: all 0.8s, color 0.3s 0.3s;
}
.btn2:hover {
  box-shadow: 13vw 0 0 0 #00d4ff inset;
  color: #000;
}

.right-section {
  width: 50%;
  float: right;
}
.right-section img {
  width: 100%;
}

.connection {
  background: transparent;
  background: transparent;
  margin-left: 4vw;
}
.connection .icons {
  display: flex;
  gap: 1vw;
}
.connection a {
  text-decoration: none;
}
.connection i {
  border: 2px solid #00d4ff;
  color: #00d4ff;
  padding: 0.5vw;
  border-radius: 50%;
  transition: all 0.8s, color 0.3s 0.3s;
}
.connection i:hover {
  box-shadow: 3vw 0 0 0 #00d4ff inset;
  color: #000;
}

/* ABOUT CONTAINER  */
.about-container {
  margin-top: 5vw;
  /* height: 100vh; */
}
.about-container h1 {
  text-align: center;
  margin-bottom: 5vw;
}
.right-left-about {
  display: flex;
}

.left-about {
  width: 40%;
  float: left;
}

.right-about {
  margin-top: 2vw;
  width: 50%;
  float: right;
}
.right-about p {
  font-size: 1.2vw;
}
.skills-box {
  display: flex;
  flex-wrap: wrap;
}
.right-about .skills-box {
  border: 2px solid #463d3d;
  width: 50%;
  margin-top: 5vw;
  box-shadow: 0vw 0vw 1vw 0vw #00d4ff;
  transition: all 0.8s;
}
.right-about .skills-box:hover {
  box-shadow: 1vw 0vw 2vw 0vw #ff300c;
}
.box {
  padding: 1vw;
  width: 50%;
}
.rating {
  margin-top: 1vw;
}
.rating i {
  color: red;
}

/* PROJECTS  */
.project-container {
  margin-top: 15vw;
}

.left-right-project {
  display: flex;
}
.left-project {
  width: 50%;
  float: left;
}
.right-project {
  width: 50%;
  float: right;
}
.project-box {
  color: #00d4ff;
  font-size: 1.5vw;
  border-radius: 10px;
  height: 15vw;
  width: 70%;
  margin: 2vw auto;
  background-size: cover;
  object-fit: cover;
  transition: all 0.8s;
  position: relative;
  overflow: hidden;
}
.project-box:hover::before {
  opacity: 1;
}
.project-box::before {
  content: attr(data-original-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.project-box:hover {
  opacity: 1;
  box-shadow: 0vw 0vw 1vw 0vw #00d4ff;
  transform: scale(1.2);
}

.project-box h1 {
  color: white;
  font-size: 3vw;
}
.project-box h1 a {
  text-decoration: none;
  color: #00d4ff;
  font-size: 3vw;
}
.project-box h1 a i {
  text-decoration: none;
  color: #00d4ff;
  font-size: 3vw;
}

/* FOOTER LIST  */
.footer {
  margin-top: 10vw;
}
.footer-connection {
  background: transparent;
  background: transparent;
  margin-left: 10vw;
  margin-top: 3vw;
}
.footer-connection .icons {
  display: flex;
  gap: 1vw;
}
.footer-connection a {
  text-decoration: none;
}
.footer-connection i {
  border: 2px solid #00d4ff;
  color: #00d4ff;
  padding: 0.5vw;
  border-radius: 50%;
  transition: all 0.8s, color 0.3s 0.3s;
}
.footer-connection i:hover {
  box-shadow: 3vw 0 0 0 #00d4ff inset;
  color: #000;
}
.footer h2 {
  color: #00d4ff;
  margin-left: 10vw;
  margin-bottom: 3vw;
  width: 25%;
  font-size: 1.5vw;
}
.footer .mail {
  margin-left: 10vw;
  margin-top: 3vw;
  width: 25%;
  font-size: 1.5vw;
}
.footer .info {
  margin-left: 10vw;
  margin-top: 3vw;
  width: 25%;
  font-size: 1.5vw;
}
.btn {
  width: 8%;
  height: 3vw;
  margin-left: 10vw;
  margin-top: 3vw;
  border: 2px solid #00d4ff;
  border-radius: 5px;
  background-color: transparent;
  color: #00d4ff;
  font-weight: 700;
  transition: all 0.8s, color 0.3s 0.3s;
}
.btn:hover {
  box-shadow: 13vw 0 0 0 #00d4ff inset;
  color: #000;
}
.copyright {
  color: #fff;
  display: block;
}

.copyright p {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vw;
}
.up {
  display: inline-flex;
}
.up img {
  right: 0;
  bottom: 0;
  position: fixed;
}
