<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio</title>
  <link rel="stylesheet" href="../css/index.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body>
  <div class="container">
    <!-- NAVBAR  -->
    <div class="nav-item">
      <div class="logo">
        <p>Vikas</p>
      </div>
      <div class="navbar">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="skill.html">Skills</a></li>
          <li><a href="">Portfolio</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </div>
    </div>
    <!-- HERO SECTION  -->
    <div class="hero-section">
      <div class="left-section">
        <h1>Hi,I'm Vikas Rawat</h1>
        <h6>Frontend Developer</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam nostrum sed perferendis culpa asperiores
          officia dolorum facilis repudiandae. Hic nobis sint ipsam, debitis illum, aliquid, et iure quisquam quasi
          explicabo minus deserunt deleniti accusamus.</p>
        <div class="btns">
          <button class="btn1">Hire Me</button>
          <button class="btn2">Let's talk</button>
        </div>
      </div>
      <div class="right-section">
        <!-- <img src="../images/owner.png" alt=""> -->
      </div>
    </div>

    <div class="connection">
      <div class="icons">
        <a href="https://github.com/Chill1bro"><i class="ri-github-fill"></i></a>
        <a href="https://twitter.com/vikasrawat6565"> <i class="ri-twitter-fill"></i></a>
        <a href="https://www.linkedin.com/in/vikas-r-4b4928251/"><i class="ri-linkedin-fill"></i></a>
      </div>
    </div>

  </div>
</body>

</html>